@import '../components/searchbar.css';

#cis-navigation-top .fhc-searchbar > .input-group {
	margin: 0!important;
}
#cis-navigation-top .fhc-searchbar > .input-group > * {
	border-radius: 0!important;
}

.avatar {
	object-fit: cover;
	height: 45px;
	width: 45px;
}

#cis4 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#cis4 > header {
	height: 48px;
}
/*body {
	padding-top: 48px;
}*/
#cis-navigation-top.navbar-expand-lg .offcanvas {
	margin-top: 48px;
}
@media (min-width: 992px) {
	#cis4 > header {
		height: 61px;
	}
	/*body {
		padding-top: 61px;
	}*/
	#cis-navigation-top.navbar-expand-lg .offcanvas {
		background-color: transparent!important;
		position: initial;
	}
}

#cis-navigation-left {
	--fhc-menu-level-1-bg: #0d6efd;
	--fhc-menu-level-1-color: #fff;
	--fhc-menu-level-1-border: #0d6efd;
	--fhc-menu-level-1-hover-bg: #0b5ed7;
	--fhc-menu-level-1-hover-color: #fff;
	--fhc-menu-level-1-hover-border: #0a58ca;
	--fhc-menu-level-2-bg: #6c757d;
	--fhc-menu-level-2-color: #fff;
	--fhc-menu-level-2-border: #6c757d;
	--fhc-menu-level-2-hover-bg: #5c636a;
	--fhc-menu-level-2-hover-color: #fff;
	--fhc-menu-level-2-hover-border: #565e64;
	--fhc-menu-level-3-bg: #212529;
	--fhc-menu-level-3-color: #fff;
	--fhc-menu-level-3-border: #212529;
	--fhc-menu-level-3-hover-bg: #1c1f23;
	--fhc-menu-level-3-hover-color: #fff;
	--fhc-menu-level-3-hover-border: #1a1e21;
}
#cis-navigation-left .btn-level-1,
#cis-navigation-left .btn-level-1 + .btn {
	color: var(--fhc-menu-level-1-color);
	border-color: var(--fhc-menu-level-1-border);
	background-color: var(--fhc-menu-level-1-bg);
}
#cis-navigation-left .btn-level-1:hover,
#cis-navigation-left .btn-level-1:focus,
#cis-navigation-left .btn-level-1 + .btn:hover,
#cis-navigation-left .btn-level-1 + .btn:focus {
	color: var(--fhc-menu-level-1-hover-color);
	border-color: var(--fhc-menu-level-1-hover-border);
	background-color: var(--fhc-menu-level-1-hover-bg);
}
#cis-navigation-left .btn-level-2,
#cis-navigation-left .btn-level-2 + .btn {
	color: var(--fhc-menu-level-2-color);
	border-color: var(--fhc-menu-level-2-border);
	background-color: var(--fhc-menu-level-2-bg);
}
#cis-navigation-left .btn-level-2:hover,
#cis-navigation-left .btn-level-2:focus,
#cis-navigation-left .btn-level-2 + .btn:hover,
#cis-navigation-left .btn-level-2 + .btn:focus {
	color: var(--fhc-menu-level-2-hover-color);
	border-color: var(--fhc-menu-level-2-hover-border);
	background-color: var(--fhc-menu-level-2-hover-bg);
}
#cis-navigation-left .btn-level-3,
#cis-navigation-left .btn-level-3 + .btn {
	color: var(--fhc-menu-level-3-color);
	border-color: var(--fhc-menu-level-3-border);
	background-color: var(--fhc-menu-level-3-bg);
}
#cis-navigation-left .btn-level-3:hover,
#cis-navigation-left .btn-level-3:focus,
#cis-navigation-left .btn-level-3 + .btn:hover,
#cis-navigation-left .btn-level-3 + .btn:focus {
	color: var(--fhc-menu-level-3-hover-color);
	border-color: var(--fhc-menu-level-3-hover-border);
	background-color: var(--fhc-menu-level-3-hover-bg);
}

#cis-navigation-left .btn.dropdown-toggle {
	padding-right: .5625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#cis-navigation-left .dropdown-toggle:after {
	transition: all .2s ease-in-out;
}
#cis-navigation-left .dropdown-toggle.collapsed:after {
	transform: rotate(-90deg);
}