/* Lehreinheits Events in Month Page */
.monthPageContainer .lehreinheitEventContent{
	display: flex;
	border-bottom: 1px solid var(--bs-border-color);	
}

.monthPageContainer .lehreinheitEventContent #lehreinheitEventHeader {
	display:none;
}


.monthPageContainer .lehreinheitEventContent #lehreinheitEventText {
	width: 100%;
	font-size: .875em;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display:flex;
	place-content: center space-evenly;
	
}

.monthPageContainer .lehreinheitEventContent #lehreinheitEventText #lehreinheitLektoren{
	display:none;
}

/* Lehreinheits Events in Week Page */
.weekPageContainer .lehreinheitEventContent {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;

}

.weekPageContainer .lehreinheitEventContent #lehreinheitEventHeader {
	display: grid;
	padding: .25rem .5rem .25rem .25rem;
	margin-right: .25rem;
	align-content: center;
	border-right: 1px solid var(--bs-secondary);
}


.weekPageContainer .lehreinheitEventContent #lehreinheitEventText {
	display: flex;
	flex-direction: column;
	column-gap: 5px;
	overflow-y: scroll;
	height: 100%;
	min-height:auto;
	justify-content: space-between;
	align-items:center;

}

/* Lehreinheits Events in Day Page */
.dayPageContainer .lehreinheitEventContent {
	display: flex;
	padding-left:4rem;
	justify-content: space-evenly;
	align-items: center;

}

.dayPageContainer .lehreinheitEventContent #lehreinheitEventHeader {
	display:grid;
	align-content: center;
}

.dayPageContainer .lehreinheitEventContent #lehreinheitEventText {
	display: contents;
}

.dayPageContainer .lehreinheitEventContent #lehreinheitEventText *{
	font-weight: 500;
}

/* Ferientage Events in Month Page */
.monthPageContainer .feiertagEventContent {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
	align-items:center;
	color: var(--fhc-light);
}

.monthPageContainer .feiertagEventContent #ferienEventIcon{
	margin: 0.5rem;
}

.monthPageContainer .feiertagEventContent #ferienEventTitle {

}

/* Ferientage Events in Week Page */
.weekPageContainer .feiertagEventContent {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
	align-items:center;
	color: var(--fhc-light);
}

.weekPageContainer .feiertagEventContent #ferienEventIcon {
	margin: 0.25rem;
}

.weekPageContainer .feiertagEventContent #ferienEventTitle {
	
}

/* Ferientage Events in Day Page */
.dayPageContainer .feiertagEventContent {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
	align-items: center;
	color: var(--fhc-light);
}

.dayPageContainer .feiertagEventContent #ferienEventIcon {
	margin: 0.5rem;
}

.dayPageContainer .feiertagEventContent #ferienEventTitle {}