/* All */
.weekPageContainer,
.dayPageContainer {
	height: 100%;
}

/* Feiertage */
.cis-renderer-feiertage-calendar-event {
	align-items: center;
	color: var(--fhc-light);
}
.monthPageContainer .cis-renderer-feiertage-calendar-event,
.weekPageContainer .cis-renderer-feiertage-calendar-event,
.dayPageContainer .cis-renderer-feiertage-calendar-event {
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: center;
}
.listPageContainer .cis-renderer-feiertage-calendar-event {
	display: flex;
	justify-content: center;
}

.monthPageContainer .cis-renderer-feiertage-calendar-event .event-icon {
	margin: 0 .5rem;
}
.weekPageContainer .cis-renderer-feiertage-calendar-event .event-icon,
.dayPageContainer .cis-renderer-feiertage-calendar-event .event-icon,
.listPageContainer .cis-renderer-feiertage-calendar-event .event-icon {
	margin: .5rem;
}

.listPageContainer .cis-renderer-feiertage-calendar-event .event-title {
	flex-grow: 1;
}

/* Lehreinheit */
/* Reservierungen */
.monthPageContainer .calendar-event-default {
	padding: 0!important;
}
.monthPageContainer .calendar-event-default .event-time,
.monthPageContainer .calendar-event-default .event-lectors {
	display: none!important;
}
.monthPageContainer .calendar-event-default .event-text {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.weekPageContainer .calendar-event-default {
	display: grid;
	grid-template-columns: auto 1fr;
}
.weekPageContainer .calendar-event-default .event-time {
	border-inline-end: solid 1px var(--bs-secondary);
	align-self: stretch;
	align-content: center;
	padding: .25em .5em .25em .25em;
	margin-inline-end: .25rem;
}
.weekPageContainer .calendar-event-default .event-text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.dayPageContainer .calendar-event-default,
.listPageContainer .calendar-event-default {
	display: flex;
	align-items: center;
}
.dayPageContainer .calendar-event-default .event-time,
.listPageContainer .calendar-event-default .event-time {
	align-content: center;
	padding-inline-end: .5em;
	border-inline-end: solid 1px;
	margin-inline-end: .5em;
}
.dayPageContainer .calendar-event-default .event-text,
.listPageContainer .calendar-event-default .event-text {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	gap: .25em;
	justify-content: center;
}
.dayPageContainer .calendar-event-default .event-topic,
.dayPageContainer .calendar-event-default .event-place,
.listPageContainer .calendar-event-default .event-topic,
.listPageContainer .calendar-event-default .event-place {
	flex: 0 0 100%;
	text-align: center;
}

.fhc-roominformation .calendar-event-default .event-place {
	display: none;
}

.fhc-calendar-empty-slot-plus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 18px;
	opacity: 0;
	pointer-events: none;
	user-select: none;
}

.part-body:hover .fhc-calendar-empty-slot-plus {
	opacity: 1;
}
