@page {
  size: portrait;
}

:root {
	--range-view-print-border-color: rgb(150,150,150);
}

* {
	background-color: white !important;
	color: black !important;
	font-size: x-small !important;
	overflow: visible !important;
	scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0) !important;
	height: auto !important;
}

body
{
  padding-top: 0 !important;
}

header,
#skiplink,
#cis-lvplan-personal-heading,
.cis-lvplan-personal hr,
.fhc-calendar-base-header,
.fhc-calendar-mode-range .grid-allday,
.fhc-calendar-mode-range #rangePresetSelector,
.fhc-calendar-base-grid-line-background {
	display: none !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid {
	break-after: page !important;
	border-bottom-style: none !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid {
	grid-template-rows: auto repeat(var(--fhc-grid-axis-main-count), auto) !important;
	gap: 0px !important;
	border: solid !important;
	border-color: var(--range-view-print-border-color) !important;
	border-width: 1px !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid * {
	gap: 0px !important;
}

.fhc-calendar-mode-range .main-header {
	border-left: solid !important;
	border-left-color: var(--range-view-print-border-color) !important;
	border-left-width: 1px !important;
}

.fhc-calendar-mode-range .part-header {
	border-top: solid !important;
	border-top-color: var(--range-view-print-border-color) !important;
	border-top-width: 1px !important;
}

.fhc-calendar-mode-range .part-body {
	border-top: solid !important;
	border-top-color: var(--range-view-print-border-color) !important;
	border-top-width: 1px !important;
	border-left: solid !important;
	border-left-color: var(--range-view-print-border-color) !important;
	border-left-width: 1px !important;
	z-index: 9998;
}

.fhc-calendar-mode-range .part-header-followed-by-break,
.fhc-calendar-mode-range .part-body-followed-by-break {
	border-bottom: solid !important;
	border-bottom-color: var(--range-view-print-border-color) !important;
	border-bottom-width: 1px !important;
}

.fhc-calendar-mode-range .part-header,
.fhc-calendar-mode-range .part-body,
.fhc-calendar-mode-range .fhc-calendar-base-grid-line-event {
	break-inside: avoid;
}

.fhc-calendar-mode-range .main-header {
	text-align: center !important;
}

.fhc-calendar-mode-range .event-text {
	align-items: center !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid-line * {
	background-color: rgba(0,0,0,0) !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid-line-event {
	z-index: 9999 !important;
}