/*stylesheet for sb admin 2 pages that do not have menu and toolbar*/
@import "admintemplate.css";

@media (min-width:768px) {
    #page-wrapper {
        margin-right: 180px;
        margin-left: 180px;
        margin-top: 8px;
        border: 1px solid #e7e7e7;
    }
}