/*custom styles for sb admin 2 template: https://startbootstrap.com/template-overviews/sb-admin-2/*/

/*optional header at right side of the main header*/
.headerright{
    margin: 40px 0 20px -30px;
    padding: 6.4px 0 9px;
    border-bottom: 1px solid #eee;
}

.headerrightform
{
    margin: 28px 0 20px -30px;
    padding: 6.4px 0 9px;
    border-bottom: 1px solid #eee;
}

.headerrightform .form-group{
    margin-bottom: 0;
    margin-left: 5px;
}

.headerrightform .form-control{
    height: 32px;
    font-size: 13px;
}

/*heading with colored background*/
.headercolorbg {
    background-color: #dfdfdf;
    padding: 3px 0;
    border-radius: 5px;
}

/*change of panel colors (to grey) */
.panel-primary > .panel-heading, .panel-primary > .panel-collapse > .panel-footer, .panel-primary > .panel-footer{
    color: black;
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

.panel-primary{
    border-color: #dfdfdf;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body{
    border-top-color: #ddd;
}

/*arrow toggle for panels*/
.panel-heading .accordion-toggle.arrowcollapse:before{
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    /*float: right; */       /* adjust as needed */
    margin: 15px;
    color: grey;         /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed.arrowcollapse:before{
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading .accordion-toggle:hover, .panel-heading .accordion-toggle:active,
.panel-heading .accordion-toggle:focus{
    text-decoration: none !important;
}

.panel-footer.solidtop{
    border-top: 1px solid #ddd
}

/*required asterisk for labels for required fields*/
.label-required:after
{
    content:"\00a0*";
    position: absolute;
    top: 2px;
    font-size: 1.3em;
}

/*table footer line (e.g. for sums)*/
.table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th
{
    border-top-width: 2px;
}