@charset "utf-8";
/* Allgemein */
body
{
	background-color: #dee8f0;
	font-family: Trebuchet MS;
	font-size: x-small;
	margin:auto;
	overflow:visible;
	/*IE hack*/
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
	/*IE hack end*/
}
iframe
{
	margin:0px;
	border-width:0px;
	border-style:none;
	padding:0px;
}
textarea
{
	font-family: Trebuchet MS;
}
form
{
	font-family: Trebuchet MS;
}
hr
{
	color:#449ada;
	height:1px;
}
#menue
{
	width:25%;
	height:800px;
	background-color:#dee8f0;
	z-index:1000;
	position:relative;
	right:-73%;
}
/*Alle außer IE6*/
html>body #menue
{
	position:absolute;
	top:160px;
	right:2%;
	width:25%;
	height:77%;
}

#content
{
	width:72%;
	height:800px;
	left:-25.5%;
	top:-27px;
	background-image:url(styles/example/pixel.jpg);
	background-repeat:repeat-x;
	position:relative;
}
/*Alle außer IE 6*/
html>body #content
{
	position:absolute;
	width:70%;
	height:80%;
	left:7px;
	top:123px;
	background-image:url(styles/example/pixel.jpg);
	background-repeat:repeat-x;
}

input.TextBox					
{
	background-color: White;
}
div#GlobalMenu
{
	right:40px;
	top:103px;
	text-align: right;
	color: #449ada;
	z-index:10000;
	position:absolute;
}
div.home_logo
{
	background-image:url(styles/example/logo.jpg);
	width:170px;
	height:142px;
	position:relative;
	top:10px;
	background-image:no-repeat;
}
div.header_line
{
	background-image:url(styles/example/line.jpg);
	width:100%;
	height:120px;
	position:relative;
}

#inhalt
{
	background-image:url(styles/example/pixel.jpg);
	background-repeat:repeat-x;
}
div.tip
{

	position: absolute;
	display: none;
	width: 300px;
	background-color: #f7f7ee;
	padding: 3px 7px 4px 6px;
	border: 1px solid #336;
	background-color: #f7f7ee;
	text-align: left;
}
#header
{
	vertical-align:middle;
}

/* Links */
a
{
	color: #449ada; text-decoration: none; /*hellblau*/
	cursor: pointer;
}
a.HyperItem
{
	color: Black; text-decoration: none;
	font-weight: bold;
}
a:hover.HyperItem
{
	color: #449ada; text-decoration: none;
	font-weight: bold;
}
a[onClick]:hover.Item
{
	color: Black; text-decoration: none;
}
a:hover.Item
{
	color: Black; text-decoration: none;
}
a.Item2
{
	color: Black; text-decoration: none;
}
a:hover.Item2
{
	color: #449ada; text-decoration: none;
}
a.MenuItem
{
	color: #388ac7; text-decoration: none; 
	font-weight: bold;
}
a:hover.MenuItem
{
	color: Black; text-decoration: none;
	font-weight: bold;
}
A.hilfe 
{ 
	text-decoration:none;
}
A.hilfe:hover 
{ 
	text-decoration:none;
	cursor:help;
}
A.stpl_detail 
{ 
	font-size:x-small; 
	color:#000000;
	text-decoration:none;
}
A.stpl_detail:hover
{ 
	font-size:x-small;
	color:#000000; 
	text-decoration:underline;
	cursor:hand;
}
a.head
{
   color:#ffffff;
}

a.head:hover
{
	color:#000000;
}


/* Tables */
td.ContentHeader
{
	background-color: #449ada; /*hell  blau*/
	font-weight: bold;
	height: 19px;
}
td.ContentHeader2
{
	background-color: #e6f3ff; /*pastel  hell  blau*/
	font-weight: normal;
	height: 19px
}
td.ContentHeader3					
{
	background-color: #e6f3ff; /*pastel  hell  blau*/
	font-weight: bold;
	height: 19px
}
td.MarkLine
{
	background-color: #F2F2F2; 
}
td.tdwidth10
{
	width: 10px;
}
td.tdwidth30
{
	width: 30px;
}
td.tdgreen
{
	background-color: #CCFFCC;
}
td.tdborder
{
	text-align: center;
	border:2px solid black;
	background-color: #ffffff;
}
td.tdwrap
{
	white-space: nowrap;
}

td.tdvertical
{
	vertical-align: top;
}
TR.liste
{
	background-color: #D3DCE3; 
}
TR.liste0						
{
	background-color: #FFFFFF; 
}
TR.liste1						
{
	background-color: #EEEEEE; 
}
TR.tryellow
{
	background-color: #FFFF99;
}
TABLE.tabcontent
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	width: 100%;
	cellspacing: 0;
	cellpadding: 0;
}
TABLE.tabcontent2
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	cellspacing: 0;
	cellpadding: 0;
}
TABLE.tabborder
{
	cellspacing: 0;
	cellpadding: 1;
	width: 100%;
	border: 1;
}
TABLE#tabterm
{
	cellpadding: 0;
	cellspacing: 0;
	margin:auto;
}


/* private/profile/zeitsperre.php */
TABLE#zeitsperren
{  
	border: 1;
	cellspacing: 0;
	cellpadding: 0;
	font-size: small;
	width:100%;
}
TABLE#zeitsperren TH
{
	background-color: #DDDDDD; 
}
TABLE#zeitsperren TH.feiertag
{
	background-color: #449ada; /*Hell-Blau*/
}
TABLE#zeitsperren TD.feiertag
{
	background-color: #e6f3ff; /*Pastel-Hell-Blau*/
}
TABLE#zeitsperren TD
{
	background-color: #EEEEEE; 
}

/* Stundenplan */
TABLE.stdplan
{  
	border: 1;
	cellspacing: 0;
	cellpadding: 0;
	font-size: small;
}
TABLE.stdplan TH
{
	background-color: #DDDDDD;
}
TABLE.stdplan TD
{
	background-color: #EEEEEE
}
.row-even { 
 background-color:#f2f2f2;
}

.row-odd { 
  background-color:#ffffff;
}


/* Fonts */
h1 
{ 
	font-size: medium;
	color: #ffffff; 
	background-color: #449ada; 
}
h1 td
{ 
	font-size: medium; 
	color: #ffffff; 
	background-color: #449ada;
}
h1 a
{
	color: #dddddd;
}
h1 a:hover
{
	color: #ffffff;
	text-decoration:none;
}

h2 
{ 
	font-size: small; 
	color: #000000; 
	background-color: #e6f3ff; /*hellblau*/
}
h2 td
{ 
	font-size: small; 
	color: #000000; 
	background-color: #e6f3ff; /*hellblau*/
}
h2 a
{
	color: #000000; 
}
h2 a:hover
{
	color: #ffffff;
	text-decoration:none;
}
h3 
{ 
	font-size: small; 
	font-weight: bold; 
	color: #449ada; 
}
h4 
{ 
	font-size: x-small; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	font-variant: normal; 
	text-transform: none; 
	color: #449ada; 
	cursor: hand; 
	text-decoration: none; 
}
font.error
{
	color: #ff0000;
}
font.ContentHeader
{
	color: #FFFFFF;
}

#news
{
	
}
#news .news
{
	//-moz-border-radius-topright: 20px;
	-moz-border-radius-topleft: 10px;
	width: 100%;
	border: 1px solid #E0E0E0;
	background-color: #e6f3ff; /*pastel hell blau*/
	
}
#news .news .titel
{
	font-weight: bold;
	font-size: normal;
	padding: 0px 10px 0px 10px;
}
#news .news .text
{
	background-color: #FCFCFC; /*fast weiß*/
	padding: 0px 10px 0px 10px;
}


/* Images */
img.testtoolfrage
{
	max-width:400px;
	max-height:300px;
}
img.testtoolvorschlag
{
	max-width:200px;
	max-height:150px;
}
img
{
	border: 0;
}
img#layout
{
	border: 1px solid #AAAAAA;
}

/*Farben*/
#bgcolor0					
{
	background-color: #CC0000;
}
#bgcolor1					
{
	background-color: #FF2200;
}
#bgcolor2					
{
	background-color: #FF9922;
}
#bgcolor3					
{
	background-color: #FFFF55;
}
#bgcolor4					
{
	background-color: #88FF88;
}
#bgcolor5					
{
	background-color: #AAFFAA;
}
#bgcolor6					
{
	background-color: #CCFFCC;
}

/*aussortiert*/

/*font.headline					
{
	color: #008381; 
	text-decoration: none;
	font-weight: bold;

	font-size: 20px;
	line-height: 24px;
	color: #003399;
	margin-bottom: 0px;
	margin-top: 0px;
	
}*/

/*font.subline					
{
	font-size: 17px;
	line-height: 20px;
	color: #003399;
	margin-bottom: 0px;
	margin-top: 0px;
}*/