@charset "utf-8";
/* Allgemein */
body
{
	background-color: White;
	font-family: Verdana;
	font-size: x-small;
	/*IE hack*/
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
	/*IE hack end*/
}
iframe
{
	margin:0px;
	border-width:0px;
	border-style:none;
	padding:0px;
}
textarea
{
	font-family: Verdana;
}
form
{
	font-family: Verdana;
}
hr
{
	color:#ffdda4;
	height:1px;
}
#menue
{
	top:150px;
	width:19%;
	height:80%;
	z-index:1000;
}
/*Alle außer IE 6*/
html>body #menue
{
	position:absolute;
}

#content
{
	width:80%;
	height:80%;
	left:20%;
}
/*Alle außer IE 6*/
html>body #content
{
	position:absolute;
}

input.TextBox					
{
	background-color: White;
}
#GlobalMenu
{
	margin-top: 3px;
	text-align: right;
	color:#003399; /*Dunkel-Blau*/
}
.home_logo
{
	background-image:url(styles/stp/fh_logo.jpg);
	width:370px;
	height:63px;
}
.header_line
{
	background-image:url(styles/stp/header.jpg);
	background-repeat:repeat-x;
	width:100%;
	height:63px;
}
/*Vor IE/Mac verstecken \*/
*html .header_line{
	height:63px;
}
/* Vor IE/Mac verstecken*/
#footer /*Menu Balken*/
{
	background-image:url(styles/stp/menu.jpg);
	width:663px;
	height:33px;
}
div.tip
{

	position: absolute;
	display: none;
	width: 300px;
	background-color: #f7f7ee;
	padding: 3px 7px 4px 6px;
	border: 1px solid #336;
	background-color: #f7f7ee;
	text-align: left;
}

/* Links */
a
{
	color: #003399; text-decoration: none; /*Dunkel-Blau*/
	cursor: pointer;
}
a.HyperItem
{
	color: #003399; text-decoration: none; /*Dunkel-Blau*/
	font-weight: bold;
}
a:hover.HyperItem
{
	color: Black; text-decoration: none;
	font-weight: bold;
}
a[onClick]:hover.Item
{
	color: Black; text-decoration: none;
}
a:hover.Item
{
	color: Black; text-decoration: none;
}
a.Item2
{
	color: Black; text-decoration: none;
}
a:hover.Item2
{
	color: #003399; text-decoration: none; /*Dunkel-Blau*/
}
a.MenuItem
{
	color: #003399; text-decoration: none; /*Dunkel-Blau*/
	font-weight: bold;
}
a:hover.MenuItem
{
	color: Black; text-decoration: none;
	font-weight: bold;
}
A.hilfe 
{ 
	text-decoration:none;
}
A.hilfe:hover 
{ 
	text-decoration:none;
	cursor:help;
}
A.stpl_detail 
{ 
	font-size:x-small; 
	color:#000000;
	text-decoration:none;
}
A.stpl_detail:hover
{ 
	font-size:x-small;
	color:#000000; 
	text-decoration:underline;
	cursor:hand;
}
a.head
{
   color:#ffffff;
}
a.head:hover
{
	color:#000000;
}


/* Tables */
TABLE.tabcontent
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	width: 100%;
	cellspacing: 0;
	cellpadding: 0;
}
TABLE.tabcontent2
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	cellspacing: 0;
	cellpadding: 0;
}
TABLE.tabborder
{
	cellspacing: 0;
	cellpadding: 1;
	width: 100%;
	border: 1;
}
TABLE#tabterm
{
	cellpadding: 0;
	cellspacing: 0;
	margin:auto;
}
td.ContentHeader
{
	background-color: #7b94ca; /*Pastel-Blau-Grau*/
	font-weight: bold;
	height: 19px;
}
td.ContentHeader2
{
	background-color: #ffdda4; /*Orange*/
	font-weight: normal;
	height: 19px
}
td.ContentHeader3					
{
	background-color: #ffdda4; /*Orange*/
	font-weight: bold;
	height: 19px
}
td.MarkLine
{
	background-color: #fffbe7; /*Pastel-Orange*/
}
td.tdwidth10
{
	width: 10px;
}
td.tdwidth30
{
	width: 30px;
}
td.tdgreen
{
	background-color: #ffdda4; /*Grün*/
}
td.tdborder
{
	text-align: center;
	border:2px solid black;
	background-color: #ffffff;
}
td.tdwrap
{
	white-space: nowrap;
}

td.tdvertical
{
	vertical-align: top;
}
TR.liste
{
	background-color: #fffbe7; /*Pastel-Orange*/
}
TR.liste0						
{
	background-color: #FFFFFF; /*weiß*/
}
TR.liste1						
{
	background-color: #fffbe7; /*Pastel-Orange*/
}
TR.tryellow
{
	background-color: #fcf4d0; /*Pastel-Orange*/
}

/* private/profile/zeitsperre.php */
TABLE#zeitsperren
{  
	border: 1;
	cellspacing: 0;
	cellpadding: 0;
	font-size: small;
	width:100%;
}
TABLE#zeitsperren TH
{
	background-color: #DDDDDD; /*hellgrau*/
}
TABLE#zeitsperren TH.feiertag
{
	background-color: #ffc76b; /*kräftiges Orange*/
}
TABLE#zeitsperren TD.feiertag
{
	background-color: #fcf4d0; /*Pastel-Orange*/
}
TABLE#zeitsperren TD
{
	background-color: #EEEEEE /*grau fast weiß*/
}

/* Stundeplan */
TABLE.stdplan
{  
	border: 1;
	cellspacing: 0;
	cellpadding: 0;
	font-size: small;
}
TABLE.stdplan TH
{
	background-color: #DDDDDD;
}
TABLE.stdplan TD
{
	background-color: #EEEEEE
}
.row-even { /*liste1*/
 background-color:#fffbe7; /*Pastel-Orange*/
}

.row-odd { /*liste0*/
  background-color:#ffffff;
}


/* Fonts */
h1 
{ 
	font-size: medium;
	color: #ffffff; 
	background-color: #7b94ca; /*Pastel-Blau-Grau*/
}
h1 td
{ 
	font-size: medium; 
	color: #ffffff; 
	background-color: #7b94ca; /*Pastel-Blau-Grau*/
}
h1 a
{
	color: #eeeeee;
}
h1 a:hover
{
	color: #ffffff;
	text-decoration:none;
}
h2 
{ 
	font-size: small; 
	color: #003399; /*Dunkel-Blau*/
	background-color: #ffdda4; /*Orange*/
}
h2 td
{ 
	font-size: small; 
	color: #003399;  /*Dunkel-Blau*/
	background-color: #ffdda4; /*Orange*/
}
h2 a
{
	color: #003399; /*Dunkel-Blau*/
}
h2 a:hover
{
	color: #000000;
	text-decoration:none;
}
h3 
{ 
	font-size: small; 
	font-weight: bold; 
	color: #7b94ca; /*Pastel-Blau-Grau*/
}
h4 
{ 
	font-size: x-small; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	font-variant: normal; 
	text-transform: none; 
	color: #7b94ca;  /*Pastel-Blau-Grau*/
	cursor: hand; 
	text-decoration: none; 
}
font.error
{
	color: #ff0000; /*Rot*/
}
font.ContentHeader
{
	color: #FFFFFF;
}

#news
{
}
#news .news
{
	//-moz-border-radius-topright: 20px;
	-moz-border-radius-topleft: 10px;
	width: 100%;
	border: 1px solid #E0E0E0;
	background-color: #ffdda4; /*Orange*/
	
}
#news .news .titel
{
	font-weight: bold;
	font-size: normal;
	padding: 0px 10px 0px 10px;
}
#news .news .text
{
	background-color: #fffbe7; /*Pastel-Orange*/
	padding: 0px 10px 0px 10px;
}


/* Images */
img.testtoolfrage
{
	max-width:400px;
	max-height:300px;
}
img.testtoolvorschlag
{
	max-width:200px;
	max-height:150px;
}
img
{
	border: 0;
}
img#layout
{
	border: 1px solid #AAAAAA;
}

/*Farben*/
#bgcolor0					
{
	background-color: #CC0000;
}
#bgcolor1					
{
	background-color: #FF2200;
}
#bgcolor2					
{
	background-color: #FF9922;
}
#bgcolor3					
{
	background-color: #FFFF55;
}
#bgcolor4					
{
	background-color: #88FF88;
}
#bgcolor5					
{
	background-color: #AAFFAA;
}
#bgcolor6					
{
	background-color: #CCFFCC;
}



/*aussortiert*/



/*font.headline					
{
	color: #008381; 
	text-decoration: none;
	font-weight: bold;

	font-size: 20px;
	line-height: 24px;
	color: #003399;
	margin-bottom: 0px;
	margin-top: 0px;
	
}*/

/*font.subline					
{
	font-size: 17px;
	line-height: 20px;
	color: #003399;
	margin-bottom: 0px;
	margin-top: 0px;
}*/

.error
{
	color: #ff0000;
}
.ausblenden {display:none;}
.einblenden {display:block;}	