.fhc-switches:checked  {
    background-color: white !important;
    border-color: white !important;
    background-position: right center !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000000'/%3e%3c/svg%3e") !important;
}

.fhc-switches  {
    background-color: var(--bs-gray-600) !important;
    border-color: var(--bs-gray-600) !important;
    background-position: left center !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%238e99a3'/%3e%3c/svg%3e") !important;
}

.fhc-switches:focus  {
    box-shadow: 0 0 0 .25rem rgba(108, 117, 125,.25);
}

/*.form-switch .form-check-input:checked {
 

rgb(52, 58, 64)*/

