[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "submodules/pivottable"]
	path = submodules/pivottable
	url = https://github.com/nicolaskruchten/pivottable.git
[submodule "submodules/tablesorter"]
	path = submodules/tablesorter
	url = https://github.com/test/tablesorter.git
