.htaccess
.htaccessbak
bin
/nbproject/
/vendor/*
!/vendor/FHC-vendor
/.idea/
documents/
.settings
.project
.buildpath
application/config/development/
application/extensions/
application/controllers/extensions/
application/config/extensions/
application/helpers/extensions/
application/hooks/extensions/
application/libraries/extensions/
application/models/extensions/
application/views/extensions/
application/widgets/extensions/
application/logs/
public/extensions/
tests/codeception/_output/*
!/tests/codeception/_output/.placeholder
tests/codeception/codeception.yml
tests/codeception/tests/api.suite.yml
tests/codeception/tests/functional.suite.yml
tests/codeception/tests/acceptance.suite.yml
tests/codeception/tests/unit.suite.yml
/sparks/*
/webdav/google.php
