.htaccess
bin
/nbproject/
/vendor/*
!/vendor/FHC-vendor
/.idea/
documents/
.settings
.project
.buildpath
!tests/codeception.yml
!tests/codeception/api.suite.yml
!tests/codeception/functional.suite.yml
!tests/codeception/acceptance.suite.yml
!/submodules/d3
