.htaccess
.htaccessbak
bin
/nbproject/
/vendor/*
!/vendor/FHC-vendor
/.idea/
documents/
.settings
.project
.buildpath
application/config/development/
tests/codeception/codeception.yml
tests/codeception/tests/api.suite.yml
tests/codeception/tests/functional.suite.yml
tests/codeception/tests/acceptance.suite.yml
tests/codeception/_support/_generated
tests/codeception/_output/*
!/tests/codeception/_output/.placeholder
/submodules/d3
composer.lock
bin
/tests/codeception/api.suite.yml
/application/logs/
/sparks/*