[submodule "submodules/tablesorter"]
	path = submodules/tablesorter
	url = https://github.com/christianbach/tablesorter.git
[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = https://github.com/twbs/bootstrap.git
