<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="testbootstrap.php">
    <testsuites>
        <testsuite name="BookmarkTest">
            <directory>./system/IntegrationTests/api/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="CI_ENV" value="testing"/>
    </php>
</phpunit>
