<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="index.phpunit.php">
    <testsuites>
        <testsuite name="BookmarkTest">
            <directory>system/UnitTests/api/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1" />
        <const name="PHPUNIT_TEST" value="1" />
    </php>
</phpunit>
