/* Smaller subject field */
input[type=text] {
    height: 28px;
    padding: 0;
}

.msgfield label {
    margin-bottom: 0 !important;
    margin-top: 3px;
}

@media screen and (min-width: 1200px) {
    .col-lg-1.msgfieldcol-left {
        width: 13%;
    }

    .col-lg-11.msgfieldcol-right {
        width: 87%;
    }
}

#sendButton {
    width: 120px;
}

/* Overwrites the Widget.css class */
div .width-150px {
	width: 200px;
}

.panel-heading {
    font-size: 16px;
}

.signatureblock {
    color: grey;
}

.signatureblocklink {
    color: grey;
}

.signatureblocklink:hover {
    color: #337ab7;
}

.rwd-line {
    display: block;
}

@media screen and (min-width: 1831px) {
    .rwd-line {
        display: inline;
    }
}

.panel-heading {
    font-size: 16px;
}

@media screen and (min-width: 1500px) {
    #msgtable {
        width: 70%;
    }
}

#msgtable td {
    border: none !important;
}

#replybutton {
    width: 120px;
}

/* STYLE THE HTML ELEMENTS (INCLUDES RESETS FOR THE DEFAULT FIELDSET AND LEGEND STYLES) */
fieldset {
	margin: 0;
	padding: 2rem;
	box-sizing: border-box;
	display: block;
	border: none;
	border: solid 1px #CCC;
	min-width: 0;
	background-color: #FFF;
}

fieldset legend {
	margin: 0 0 1.5rem;
	padding: 0;
	width: 100%;
	float: left;
	display: table;
	font-size: 1.5rem;
	line-height: 140%;
	font-weight: 600;
	color: #333;
}

fieldset legend + * {
	clear: both;
}

body:not(:-moz-handler-blocked) fieldset {
	display: table-cell;
}

/* TOGGLE STYLING */
.toggle {
	margin: 0 0 1.5rem;
	box-sizing: border-box;
	font-size: 0;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

.toggle input {
	width: 0;
	height: 0;
	position: absolute;
	left: -9999px;
}

.toggle input + label {
	margin: 0;
	padding: .75rem 2rem;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	border: solid 1px #DDD;
	background-color: #FFF;
	font-size: 14px;
	line-height: 140%;
	font-weight: 600;
	text-align: center;
	box-shadow: 0 0 0 rgba(255, 255, 255, 0);
	transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
	cursor: pointer;
}

.toggle input + label:first-of-type {
	border-radius: 6px 0 0 6px;
	border-right: none;
}

.toggle input + label:last-of-type {
	border-radius: 0 6px 6px 0;
	border-left: none;
}

.toggle input:hover + label {
	border-color: #213140;
}

.toggle input:checked + label {
	background-color: #337ab7;
	color: #FFF;
	box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
	border-color: #337ab7;
	z-index: 1;
}

.toggle input:focus + label {
	outline: dotted 1px #CCC;
	outline-offset: .45rem;
}

@media (max-width: 800px) {
	.toggle input + label {
		padding: .75rem .25rem;
		flex: 0 0 50%;
		justify-content: center;
		align-items: center;
	}
}

/* STYLING FOR THE STATUS HELPER TEXT FOR THE DEMO */
.status {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
}

.status span {
	font-weight: 600;
	color: #B6985A;
}

.status span:first-of-type {
	display: inline;
}

.status span:last-of-type {
	display: none;
}

@media (max-width: 800px) {
	.status span:first-of-type {
		display: none;
	}
	.status span:last-of-type {
		display: inline;
	}
}


.buttonsSpacer {
	display: inline-block;
	width: 30px;
}
