.fhc-ajaxclient-veil {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	border-width: 0px;
	background-image: url("../images/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.fhc-ajaxclient-error-td {
	padding-right: 10px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog-buttonset {
	padding-top: 10px;
	width: 100%;
	text-align: center;
}

.ui-dialog-buttonset button {
	width: 50%;
	font-weight: bold;
}

.ui-front {
	z-index: 9999;
}
