:root {
	--bs-body-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	--bs-body-font-size: 14px;
	--bs-body-line-height: 1.42857143;
	--bs-body-color: #333;
}
html {
	font-size: var(--bs-body-font-size);
}

h1, .h1 {
	margin-top: 0;
	font-size: 1.4rem;
}
h2, .h2 {
	margin-top: 0;
	font-size: 1.4rem;
}
h3, .h3 {
	margin-top: 0;
	font-size: 1.3rem;
}
h4, .h4 {
	margin-top: 0;
	font-size: 1.2rem;
}
h5, .h5 {
	margin-top: 0;
	font-size: 1.1rem;
}
h6, .h6 {
	margin-top: 0;
	font-size: 1rem;
}

.btn {
	padding: 6px 12px;
}

.fhc-header {
	display: flex;
	justify-content: between;
	flex: wrap;
	align-items: center;
	padding: 20px 15px 19px;
	margin: 40px 0 20px;
	border-bottom: solid 1px #eee;
}
@media (min-width:768px) { /* NOTE(chris): size "md" from bs5 */
	.fhc-header {
		flex-wrap: nowrap!important;
	}
}
.fhc-header h1,
.fhc-header h2 {
	font-size: 24px;
	margin: 0;
}

.fhc-container {
	padding: 0 15px;
	max-width: 100%;
}

.tabulator {
	font-size: var(--bs-body-font-size);
}

.fhc-container .tabulator {
	border-left: 1px solid #dee2e6;
}
.fhc-container .tabulator .tabulator-row {
	border-bottom: none;
}
.fhc-container .tabulator .tabulator-row .tabulator-frozen,
.fhc-container .tabulator .tabulator-row .tabulator-cell {
	border-bottom: 1px solid #dee2e6;
}
.fhc-container .tabulator .tabulator-row.tabulator-row-even {
	background-color: transparent;
}
.fhc-container .tabulator .tabulator-headers .tabulator-frozen,
.fhc-container .tabulator .tabulator-row.tabulator-row-odd .tabulator-frozen,
.fhc-container .tabulator .tabulator-row.tabulator-row-odd .tabulator-cell {
	background-color: #fff;
}
.fhc-container .tabulator .tabulator-row.tabulator-row-even .tabulator-frozen,
.fhc-container .tabulator .tabulator-row.tabulator-row-even .tabulator-cell {
	background-color: #f2f2f2;
}
.fhc-container .tabulator .tabulator-row.tabulator-selectable:hover .tabulator-frozen,
.fhc-container .tabulator .tabulator-row.tabulator-selectable:hover .tabulator-cell {
	background-color: #ececec;
}

.fhc-container .tabulator .tabulator-col,
.fhc-container .tabulator .tabulator-cell {
	border-right: 1px solid #dee2e6;
}
