/* Themable Variables */
:root {
	--svg-icon-apps: var(--fhc-icon-apps, url('data:image/svg+xml,\
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
			<circle cx="15" cy="15" r="15"/>\
			<circle cx="15" cy="50" r="15"/>\
			<circle cx="15" cy="85" r="15"/>\
			<circle cx="50" cy="15" r="15"/>\
			<circle cx="50" cy="50" r="15"/>\
			<circle cx="50" cy="85" r="15"/>\
			<circle cx="85" cy="15" r="15"/>\
			<circle cx="85" cy="50" r="15"/>\
			<circle cx="85" cy="85" r="15"/>\
		</svg>'));
}
.svg-icon {
	display: inline-block;
	width: 1rem;
	line-height: 1;
	background-color: currentColor;
}
.svg-icon:before {
	content: "\00a0";
}
.svg-icon.svg-icon-apps {
	-webkit-mask-image: var(--svg-icon-apps);
	mask-image: var(--svg-icon-apps);
}
