.tabulator-col {
	font-size: 14px;
}

.tabulator-page {
	color: black;
	opacity: 1 !important;
	padding: 2px 7px !important;
	border: 0px !important;
}

.tabulator-page.active {
	color: #337ab7 !important;
}

/* Avoid confusing color change when hovering over selected rows */
.tabulator-row.tabulator-selected:hover {
	background-color: #769bcc !important;
}

/* Frame the table */
.tabulator {
	border: 1px solid lightgrey;
	border-bottom: none;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

/* Frame the header cells */
.tabulator-col:not(:first-of-type) {
	border-left: 0.5px solid lightgrey;
}

/* More space for header title (avoids triple points at the end) */
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
	overflow: initial;
}

.btn-select-col-selected
{
	background-color: #e6e6e6;
}

.btn-w200
{
    width: 200px;
}

.btn-mr5
{
    margin-right: 10px;
}

.btn-mr10
{
    margin-right: 10px;
}

.btn-mr20
{
    margin-right: 20px;
}

.btn-mr40
{
    margin-right: 40px;
}

.btn-mr50
{
    margin-right: 50px;
}