@import './Fhc.css';
@import './components/searchbar/searchbar.css';
@import './components/verticalsplit.css';
@import './components/FilterComponent.css';
@import './components/Tabs.css';
@import './components/Notiz.css';

html {
  font-size: .875em;
  height: 100%;
}

body {
	/*display: flex;*/
	 height: 100%;
}
.heightfull {
		 height: 95%;
}
.navbar-dark .navbar-brand:focus {
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
	z-index: 3;
}
#main {
	height: 100%;
}
.tempus {
	height: 100%;
}
.searchbar {
	margin-right: 0!important;
}
.searchbar > .input-group {
	margin-right: 0!important;
}
.searchbar > .input-group > * {
	border-radius: 0!important;
}

#sidebarMenu {
	width: 0%;
}

.tabulator-row.disabled.tabulator-row-odd .tabulator-cell {
	color: var(--gray-400);
}
.tabulator-row.disabled.tabulator-row-even .tabulator-cell {
	color: var(--gray-500);
}

/* Dropdown Toolbar Interessent, submenu */
.dropend .dropdown-toggle.d-flex::after {
	height: 0;
}

@media (min-width: 768px) {
	#sidebarMenu {
		visibility: visible!important;
		transform: none;
		position: inherit;
		z-index: 1;
	}
}

.toast.toast-success {
	color: #0f5132;
	background-color: #d1e7dd!important;
	border-color: #badbcc!important;
}
.toast.toast-danger {
	color: #842029;
	background-color: #f8d7da!important;
	border-color: #f5c2c7!important;
}

.has-filter .fa-filter {
	color: var(--bs-success);
}

#parkinglot {
	border: 1px dashed;
	width: 300px;
	height: 100px;
	color: #AAAAAA;
	text-align: center;
	font-size: large;
	margin-top: 20px;

}

#coursechooser {
	width: 300px;
	min-height: 100px;
	font-size: large;
	margin-top: 50px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	padding-left: 15px;
}

#coursechooserheader {
	font-weight: bold;
	font-size: medium;
}

#coursechooserfooter {
	font-size: small;
	color: #AAAAAA;
}

.eckerl {
	width: 200px;
	margin: 10px 0;
	padding: 2px 4px;
	background: #00649c;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 3px 3px 3px #bbb;
}

:root{
	--fhc-calendar-pane-height: calc(100vh - 120px);
}

.eckerltest {
		box-shadow: 3px 3px 3px #ccc;
}
