@page {
  size: landscape;
}

* {
	background-color: white !important;
	color: black !important;
	font-size: x-small !important;
	overflow: visible !important;
}

html,
body,
#main,
.tempus {
	height: auto !important;
	min-height: 0 !important;
	max-height: none !important;
}

.fhc-calendar-base-slider > div {
	position: relative !important;
}

header,
#skiplink,
#cis-lvplan-personal-heading,
#sidebarMenu,
.cis-lvplan-personal hr,
.tempus .horizontalsplit-container > .horizontalsplitted:first-child,
.tempus .horizontalsplitter,
.fhc-calendar-base-header,
.fhc-calendar-mode-range .grid-allday,
.fhc-calendar-mode-range #rangePresetSelector,
.fhc-calendar-base-grid-dropzone,
.fhc-calendar-base-grid-line-background {
	display: none !important;
}

.tempus .container-fluid,
.tempus .container-fluid > .row,
.tempus .horizontalsplit-container {
	display: block !important;
	width: 100% !important;
	max-width: none !important;
	height: auto !important;
	max-height: none !important;
}

.tempus .horizontalsplit-container > .horizontalsplitted:last-child {
	display: block !important;
	width: 100% !important;
	max-width: none !important;
	height: auto !important;
	max-height: none !important;
	flex: 0 0 100% !important;
}

.fhc-calendar-mode-range .main-header-sunday,
.fhc-calendar-mode-range .fhc-calendar-base-grid-line-sunday {
	border-bottom-width: 0 !important;
}

.fhc-calendar-base-grid-line-sunday,
.fhc-calendar-mode-range .main-header-sunday {
	break-after: page !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid {
	grid-template-rows: auto repeat(var(--fhc-grid-displayed-axis-main-count), auto) !important;
	gap: 0px !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid * {
	gap: 0px !important;
}

.fhc-calendar-mode-range .main-header:not(.main-header-empty),
.fhc-calendar-mode-range .fhc-calendar-base-grid-line {
	border-top: solid 1px black !important;
}

.fhc-calendar-mode-range .main-header:not(.main-header-empty) {
	padding-top: .25rem !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid-line {
	grid-auto-rows: max-content !important;
	overflow: hidden !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid-line-event {
	break-inside: avoid !important;
	margin: 1px !important;
	page-break-inside: avoid !important;
	z-index: auto !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid-line-event > .rangePageContainer {
	background-color: var(--event-bg, var(--event-default-bg)) !important;
	break-inside: avoid !important;
	page-break-inside: avoid !important;
}

.fhc-calendar-mode-range .fhc-calendar-base-grid-line-event > .rangePageContainer * {
	background-color: transparent !important;
}
