[Unit]
Description=PhantomJS headless browser with HighCharts
After=network.target

[Service]
ExecStart=/usr/bin/phantomjs /home/%i/highcharts/highcharts-convert.js -host 10.127.0.197 -port 3003
KillMode=process
Restart=always
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
