[Unit]
Description=The unoconv listener running on User %I
After=network.target

[Service]
ExecStart=/usr/bin/unoconv -l
KillMode=mixed
Restart=always
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
