/* BS compatibility with 5.3 */
:root {
  --bs-card-bg: var(--bs-body-bg);
  --bs-border-color: var(--bs-gray-300);
  --bs-secondary-color: var(--bs-secondary);
}


/* Header */
/* ====== */
.fhc-calendar-base-header .title {
  width: 15em;
}


/* Pickers */
/* ======= */
/* Animation */
.picker-enter-from {
  top: -55%;
  transform: scale(10%);
  opacity: 0;
}
.picker-enter-to,
.picker-leave-from {
  top: -0%;
  transform: scale(100%);
  opacity: 1;
}
.picker-leave-to {
  top: -55%;
  transform: scale(10%);
  opacity: 0;
}
.picker-leave-to.clicked {
  top: -0%;
  transform: scale(100%);
}
.picker-enter-active,
.picker-leave-active {
  transition: all .5s ease-in-out;
}

/* Z Ordering */
.fhc-calendar-picker-week,
.fhc-calendar-picker-month,
.fhc-calendar-picker-year {
  background: var(--bs-card-bg);
  z-index: 10;
}


/* Labels */
/* ====== */
.fhc-calendar-base-label-dow .short,
.fhc-calendar-base-label-dow .narrow,
.fhc-calendar-base-label-day .full,
.fhc-calendar-base-label-day .short,
.fhc-calendar-base-label-day .narrow,
.fhc-calendar-mode-month .fhc-calendar-base-label-day .long,
.collapsed-header .fhc-calendar-base-label-day .long,
.collapsed-header .fhc-calendar-base-label-dow .long {
  display: none;
}
.fhc-calendar-mode-month .fhc-calendar-base-label-day .narrow,
.collapsed-header .fhc-calendar-base-label-day .short,
.collapsed-header .fhc-calendar-base-label-dow .short {
  display: block;
}
.fhc-calendar-mode-day .fhc-calendar-base-label-day,
.fhc-calendar-mode-week .fhc-calendar-base-label-day {
  font-size: .875em;
}
.fhc-calendar-mode-month .fhc-calendar-base-label-week {
  text-align: right;
}
.fhc-calendar-mode-month .fhc-calendar-base-label-week span {
  color: var(--bs-secondary-color);
  cursor: pointer;
}
.fhc-calendar-mode-month .fhc-calendar-base-label-week span + span:before {
  content: "/";
}


/* Base Grid */
/* ========= */
/* Grid */
.fhc-calendar-base-grid {
  --fhc-calendar-axis-collapsible: .2fr;
  background-color: var(--bs-border-color);
  grid-gap: 2px;
}
.fhc-calendar-base-grid .grid-header {
  background-color: var(--bs-gray-200);
}
.fhc-calendar-base-grid .grid-main {
  grid-gap: 1px;
}
.fhc-calendar-base-grid-line {
  grid-gap: 1px;
}
.fhc-calendar-mode-month .main-header,
.fhc-calendar-base-grid .part-header,
.fhc-calendar-base-grid .part-body {
  background-color: rgba(255,255,255, 1);
}
.fhc-calendar-base-label-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
/* Events */
.fhc-calendar-base-grid-line-event.event-header {
  font-weight: bold;
}
.fhc-calendar-base-grid-line-event.event-header .disabled {
  opacity: .3;
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line {
  overflow: hidden;
  line-height: 1.5;
  font-size: .8rem;
  grid-auto-rows: 1.5em;
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event {
  text-indent: .5em;
  height: 1.5em;
  overflow: hidden;
}


/* Customize */
/* ========= */
/* Header */
.fhc-calendar-base-header > .row {
  align-items: center;
}
/* Events */
.event-colored {
  background: rgba(var(--event-color-rgb), .5);
  min-height: 100%;
}
.event-colored:hover {
  background: rgba(var(--event-color-rgb), .3);
}


