.fhc-pointer-events-none {
  pointer-events: none;
}

.fhc-pointer-events-all {
  pointer-events: all;
}

.fhc-cursor-pointer {
  cursor: pointer;
}

.fhc-resize-vertical {
  cursor: ns-resize;
}

.fhc-drag-handle:hover {
  cursor: grab;
  color: #000;
}

.fhc-w-fit {
  width: fit-content;
}

.tabulator-group-level-0 {
  background-color: #c6c6c6 !important;
  display: flex;
  align-items: center;
}

.tabulator-group-level-1 {
  background-color: #f5f5f5 !important;
  display: flex;
  align-items: center;
}

.tabulator-cell {
  background-color: transparent !important;
}

div[role="row"] {
  background-color: white;
}
