

@media (max-width: 991px) {
    
    .md-invisible{
        display:none;
    }
  }

  @media (min-width: 992px) {
    
    .lg-invisible{
        display:none;
    }
  }

.tabulator-collapsed-row{
    padding:15px;
    background-color: rgba(0,0,0,0.1);

}

.tabulator-responsive-collapse{
  padding:0 !important;
}

/*   dl {
    width: 100%;
    overflow: hidden;
   
    padding: 0;
    margin: 0
  }
  dt {
    float: left;
    width: 35%;
    
  
   
    padding: 0;
    margin: 0
  }
  dd {
    float: left;
    width: 50%;
   
  
    padding: 0;
    margin: 0
  }
 */
 