

@media (max-width: 991px) {
    
    .md-invisible{
        display:none;
    }
  }

  @media (min-width: 992px) {
    
    .lg-invisible{
        display:none;
    }
  }

.tabulator-collapsed-row{
    padding:15px;
    background-color: rgba(0,0,0,0.1);

}

.tabulator-col{
  justify-content:center !important;
}

.tabulator-responsive-collapse{
  padding:0 !important;
}

.form-control_{
  border:0;
  border-bottom: 1px solid #ced4da;
  height:auto !important;
  padding-bottom: 5px !important;
  padding-left: 3px !important;
  border-radius:0px;
}

.form-control-plaintext[readonly]{
  background-color:white;
}

.fhc-form .form-control:focus{
  border-color:white;
  box-shadow:none;
} 

/*   dl {
    width: 100%;
    overflow: hidden;
   
    padding: 0;
    margin: 0
  }
  dt {
    float: left;
    width: 35%;
    
  
   
    padding: 0;
    margin: 0
  }
  dd {
    float: left;
    width: 50%;
   
  
    padding: 0;
    margin: 0
  }
 */
 