.sprachen-entry{
	background-color: var(--fhc-primary);
}

.sprachen-entry:hover {
	background-color: var(--fhc-primary);
}

[selected="true"].sprachen-entry {
	background-color: var(--fhc-primary-highlight);
}

.sprachen-entry.btn {
	border-radius: 0 !important;
}
