treechildren::-moz-tree-cell(makeItGreen)
{
  background-color: #88FF88;
}
treechildren::-moz-tree-cell(makeItRed)
{
  background-color: #FFAAAA;
}
treechildren::-moz-tree-cell(makeItBlue)
{
  background-color: #9999FF;
}
treechildren::-moz-tree-cell(makeItYellow)
{
  background-color: #FFFF99;
}

#motorsport-manager-toolbar-button {
	list-style-image: URL("chrome://motorsportmanager/skin/toolbar-large.png");
}

#motorsport-manager-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.motorsport-manager-selected {
	outline: 2px solid red !important;
}


label.gesenkt
{
	border-style:solid;
	border-width:1px;
	background-color:#33FF33;
	text-align:center;
}
label.normal
{
	border-style:solid;
	border-width:1px;
	background-color:#FFFF33;
	text-align:center;
}
label.erhoeht
{
	border-style:solid;
	border-width:1px;
	background-color:#FF3333;
	text-align:center;
}
textbox
{
	max-height:1.6em;
}
button
{
	max-height:1.8em;
}
grid
{
	margin:0px;
	padding:0px;
	border:0px;
}
