box.Datum 
{
    -moz-binding: url('bindings.xml.php#Datum');
}

hbox.StyleBox
{
    -moz-binding: url('bindings.xml.php#StyleBox');
}
vbox.StyleBox
{
    -moz-binding: url('bindings.xml.php#StyleBox');
}

box.Standort
{
    -moz-binding: url('bindings.xml.php#Standort');
}

box.Firma
{
    -moz-binding: url('bindings.xml.php#Firma');
}

box.Notiz
{
	-moz-binding: url('notiz.xml.php#Notiz');
}

box.Ressource
{
	-moz-binding: url('projekt/ressource.xml.php#Ressource');
}

box.WYSIWYG
{
	-moz-binding: url('bindings.xml.php#wysiwyg');
}
