AuthBasicProvider ldap
AuthName "Technikum-Wien"
AuthType Basic
AuthBasicProvider ldap
AuthBasicAuthoritative Off
AuthLDAPURL "ldap://ldap.technikum-wien.at:389/ou=People,dc=technikum-wien,dc=at?uid?one?objectclass=posixAccount"
#AuthLDAPURL "ldap://ldap.technikum-wien.at:389/ou=People,dc=technikum,dc=at?uid?sub?(objectClass=*)"
AuthLDAPGroupAttributeIsDN Off
AuthLDAPGroupAttribute memberuid
Require ldap-group cn=fhadmin,ou=Group,dc=technikum-wien,dc=at
require ldap-group cn=hadesadm,ou=Group,dc=technikum-wien,dc=at
Require user pam
require user oesi
require user ruhan
Require user tw01e061
Require user if10b066
require ldap-user if10b066