body
{
	background-color: White;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	/*IE hack*/
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
	/*IE hack end*/
}

a
{
	color: #008381; text-decoration: none;
	cursor: pointer;
}

a.HyperItem
{
	color: Black; text-decoration: none;
	font-weight: bold;
}

a.Item2
{
	color: Black; text-decoration: none;
}

a[onClick]:hover.Item
{
	color: Black; text-decoration: none;
}

a:hover.Item
{
	color: Black; text-decoration: none;
}

a:hover.Item
{
	color: Black; text-decoration: none;
}

a:hover.Item2
{
	color: #008381; text-decoration: none;
}

a.MenuItem
{
	color: #008381; text-decoration: none;
	font-weight: bold;
}

a:hover.MenuItem
{
	color: Black; text-decoration: none;
	font-weight: bold;
}

img
{
	border: 0;
}

td.ContentHeader
{
	background-color: #008381;
	font-weight: bold;
	height: 19px;
}

td.ContentHeader2
{
	background-color: #CCCCCC;
	font-weight: normal;
	height: 19px
}

td.ContentHeader3
{
	background-color: #CCCCCC;
	font-weight: bold;
	height: 19px
}

td.MarkLine
{
	background-color: #F2F2F2;
}

TR.liste
{
	background-color: #D3DCE3;
}
TR.liste0
{
	background-color: #FFFFFF;
}
TR.liste1
{
	background-color: #EEEEEE;
}
TABLE.stdplan
{  
	border: 1;
	cellspacing: 0;
	cellpadding: 0;
	font-size: small;
}

TABLE.stdplan TH
{
	background-color: #DDDDDD;
}

TABLE.stdplan TD
{
	background-color: #EEEEEE
}


input.TextBox
{
	background-color: White;
}

font.headline
{
	font-size: 20px;
	line-height: 24px;
	color: #003399;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}

font.subline
{
	font-size: 17px;
	line-height: 20px;
	color: #003399;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}

font.ContentHeader
{
	color: #FFFFFF;
}

.row-even {
 background-color:#f2f2f2;
}

.row-odd {
  background-color:#ffffff;
}
A.stpl_detail 
{ 
	font-size:x-small; 
	color:#000000;
	text-decoration:none;
}
A.stpl_detail:hover
{ 
	font-size:x-small;
	color:#000000; 
	text-decoration:underline;
	cursor:hand;
}
A.hilfe 
{ 
	text-decoration:none;
}
A.hilfe:hover 
{ 
	text-decoration:none;
	cursor:help;
}
#bgcolor0
{
	background-color: #FF0000;
}
#bgcolor1
{
	background-color: #FF4444;
}
#bgcolor2
{
	background-color: #FF7777;
}
#bgcolor3
{
	background-color: #C0EEC0;
}
#bgcolor4
{
	background-color: #77FF77;
}
#bgcolor5
{
	background-color: #44FF44;
}
#bgcolor6
{
	background-color: #00FF00;
}

h1 
{ 
	font-size: medium;
	color: #ffffff; 
	background-color: #009e84; 
}
h1 td
{ 
	font-size: medium; 
	color: #ffffff; 
	background-color: #009e84;
}
h1 a
{
	color: #dddddd;
}
h1 a:hover
{
	color: #ffffff;
	text-decoration:none;
}

h2 
{ 
	font-size: small; 
	color: #ffffff; 
	background-color: #00a4d2;
}
h2 td
{ 
	font-size: small; 
	color: #ffffff; 
	background-color: #00a4d2;
}
h2 a
{
	color: #dddddd;
}
h2 a:hover
{
	color: #ffffff;
	text-decoration:none;
}

h3 
{ 
	font-size: small; 
	font-weight: bold; 
	color: #008E74; 
}
h4 
{ 
	font-size: x-small; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	font-variant: normal; 
	text-transform: none; 
	color: #008E74; 
	cursor: hand; 
	text-decoration: none; 
}

#GlobalMenu
{
	margin-top: 3px;
	text-align: right;
}