@charset "utf-8";
/* Allgemein */
body
{
	background-color: White;
	font-family: Arial;
	voice-family: inherit;
	font-size: 19px;
	overflow:hidden;
}
hr
{
	color:#CCCCCC;
	height:1px;
}
img
{
	border: 0;
}

/* Links */
a
{
	color: #008381; text-decoration: none;
	cursor: pointer;
}
a:hover
{
	color: Black; text-decoration: none;
}
a[onClick]:hover.Item
{
	color: Black; text-decoration: none;
}
a:hover.Item
{
	color: Black; text-decoration: none;
}
a.hilfe 
{ 
	text-decoration:none;
}
a.hilfe:hover 
{ 
	text-decoration:none;
	cursor:help;
}

/* Tables */
TABLE.tabcontent
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	width: 100%;
}
td.ContentHeader
{
	background-color: #008381; /*grï¿½n*/
	font-weight: bold;
	height: 40px;
	text-align: center;
}
td.tdwidth_left
{
	width: 10%;
}
td.tdwidth_right
{
	width: 10%;
}

/* Fonts */
font.ContentHeader
{
	color: #FFFFFF;
	font-size: 28px;
}
#news .news
{
	-moz-border-radius-topleft: 10px;
	width: 100%;
	border: 1px solid #E0E0E0;
	background-color: #F0F0F0;
}
#news .news .titel
{
	font-weight: bold;
	font-size: large;
	padding: 0px 10px 0px 10px;
	white-space: nowrap;
}
#news .news .text
{
	background-color: #FCFCFC;
	padding: 0px 10px 0px 10px;
}
/* Margin von ersten und letzten P tag entfernen, da sonst
   breite Raender entstehen koenne*/
#news .news .text p:first-child
{
	margin-top:0px;

}
#news .news .text p:last-child
{
	margin-bottom:0px;
}
/* Images */
img
{
	border: 0;
}
img#layout
{
	border: 1px solid #AAAAAA;
}

/*Farben*/
.grey
{
	color: #999999;
}