@charset "utf-8";
/* Allgemein */
body,p,div
{
	background-color: White;
	font-family: Arial;
	voice-family: inherit;
	font-size: 16px;
	overflow:hidden;
	text-decoration: none;
}
hr
{
	color:#CCCCCC;
	height:1px;
}

/* Links */
a
{
	color: #008381; 
	text-decoration: none;
	cursor: pointer;
}
a:hover
{
	color: Black; 
	text-decoration: none;
}
a[onClick]:hover.Item
{
	color: Black; 
	text-decoration: none;
}
a:hover.Item
{
	color: Black; 
	text-decoration: none;
}
a.hilfe 
{ 
	text-decoration:none;
}
a.hilfe:hover 
{ 
	text-decoration:none;
	cursor:help;
}

/* Tables */
TABLE.tabcontent
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	width: 100%;
}
th
{
	font-weight: bold;
}
td.ContentHeader
{
	background-color: #008381; /*gruen*/
	font-weight: bold;
	height: 40px;
	text-align: center;
}
td.tdwidth_left
{
	width: 10%;
}
td.tdwidth_right
{
	width: 10%;
}

/* Fonts */
font.ContentHeader
{
	color: #FFFFFF;
	font-size: 28px;
}
/* Formatierung der Überschriften */
address,pre /* Adresse, Rohdaten */
{
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	text-decoration: none;
	font-family: Arial;
	voice-family: inherit;
}
h1 /* Überschrift 1 */
{ 
	color: #ffffff; 
	background-color: #008381; /*gruen*/
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	font-size: 1.8em;
	text-align: center;
}
h2 /* Überschrift 2 */
{ 
	font-size: 16px;
	background-color: #CCCCCC; /*mittel-grau */
	font-weight: normal;
	height: 19px;
	padding-top: 2px;
	padding-left: 2px;
}
h3 /* Überschrift 3 */
{ 
	font-weight: bold; 
	color: #000000; 
	font-size: 16px;
}
h4 /* Überschrift 4 */
{ 
	font-size: 16px;
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	text-transform: none; 
	color: #0086CB; /* tw-blau */
	text-decoration: none; 
}
h5, h6 /* Überschrift 5,6 - Werden nicht speziell formatiert, sondern dem normalen Text angepasst */
{
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	text-decoration: none;
	font-family: Arial;
	voice-family: inherit;
	margin: 0px;
}
#news .news
{
	-moz-border-radius-topleft: 10px;
	width: 100%;
	border: 1px solid #C6C6C6;
	background-color: #F0F0F0;
}
#news .news .titel
{
	-moz-border-radius-topleft: 6px;
	font-weight: bold;
	font-size: 18px;
	padding: 0px 10px 0px 10px;
	white-space: nowrap;
	background-color: #C6C6C6;
}
#news .news .titel table
{
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	white-space: nowrap;
}
#news .news .text
{
	background-color: #FCFCFC;
	padding: 5px 10px 5px 10px;
}
/* Margin von ersten und letzten P tag entfernen, da sonst
   breite Raender entstehen koenne*/
#news .news .text p:first-child
{
	margin-top:0px;

}
#news .news .text p:last-child
{
	margin-bottom:0px;
}
/* Images */
img
{
	border: 0;
}
img#layout
{
	border: 1px solid #AAAAAA;
}

/*Farben*/
.grey
{
	color: #999999;
}