@charset "utf-8";
/* Allgemein */
body,div
{
	background-color: White;
	font-family: Arial;
	voice-family: inherit;
	font-size: 16px;
	overflow:hidden;
	text-decoration: none;
	margin:0; 
	padding:0; 
	height:100%;
}
html
{ 
	margin:0; 
	padding:0; 
	height:100%; 
}
iframe 
{ 
	margin:0; 
	padding:0; 
	height:100%;
	display:block; 
	width:100%; 
	border:none;
}
hr
{
	color:#CCCCCC;
	height:1px;
}
p
{
	margin-top: 0px;
}

/* Links */
a
{
	color: #0086CC; 
	text-decoration: none;
	cursor: pointer;
}
a:hover
{
	color: #0086CC; 
	text-decoration: underline;
}
a[onClick]:hover.Item
{
	color: #0086CC; 
	text-decoration: #0086CC;
}
a:hover.Item
{
	color: #0086CC; 
	text-decoration: #0086CC;
}
a.hilfe 
{ 
	text-decoration:none;
}
a.hilfe:hover 
{ 
	text-decoration:none;
	cursor:help;
}

/* Tables */
TABLE.tabcontent
{
	margin: 0px;
	padding: 0px;
	border-style: none;
	width: 100%;
}
th
{
	font-weight: bold;
}
td.ContentHeader
{
	background-color: #008381; /*gruen*/
	font-weight: bold;
	height: 40px;
	text-align: center;
}
td.tdwidth_left
{
	width: 10%;
}
td.tdwidth_right
{
	width: 10%;
}

/* Fonts */

h1
{ 
	color: black; 
	padding: 20px 0 20px 0;
	text-align: center;
	/* padding-left: 10px; */
	/* width:20%; */
	margin:0px;
	white-space:nowrap;
	font-size: 35px;
	/* letter-spacing: 2px;
	border-bottom:solid 1px #0086CC;*/
	font-weight:normal;
}
h1 td
{ 
	color: #ffffff; 
	background-color: #009e84;
}
h2
{ 
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
	/* padding-left: 10px; */
	font-weight: bold;
	font-size: 15px;
}
h3 
{ 
	margin: 0px;
	padding-top: 0px; /* 20px */
	padding-bottom: 2px;
	font-weight: bold;
	font-size:13px;
}
h4 
{ 	
	margin: 0px;
	padding: 0px;  
	text-decoration: underline;
	font-weight: normal;
	font-size:13px; 
}
#news
{
	padding: 100px 30px 0 30px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -100px;
	box-shadow: 0px 100px 0px 0px #FFFFFF, /* Unterer weisser Rand bei sehr kleinen Aufloesungen */
				0px 0px 5px 5px #888, /* schmaler dunkler Schatten */
				20px 20px 70px 30px #DDDDDD, /* heller Verlauf rechts */
				-20px 20px 70px 30px #DDDDDD; /* heller Verlauf links */
}
#news .news
{
	width: 100%;
	background-color: #A5AFB6; /* grauvariante A5AFB6 */
}
#news .news .titel table
{
	padding: 3px 10px 3px 10px;
	color: #ffffff;
	font-weight: 500;
	font-size: 20px;
	background-color: #A5AFB6; /* grauvariante A5AFB6 */
}
#news .news .text
{
	background-color: #E9ECEE; /* grauvariante E9ECEE */
	padding: 10px;
	font-size: 20px;
}

/* Margin von ersten und letzten P tag entfernen, da sonst
   breite Raender entstehen koenne*/
#news .news .text p:first-child
{
	margin-top:0px;

}
#news .news .text p:last-child
{
	margin-bottom:0px;
}
/* Images */
img
{
	border: 0;
}
img#layout
{
	border: 1px solid #AAAAAA;
}

/*Farben*/
.grey
{
	color: #999999;
}