@import url("chrome://global/skin/");

label.tempus_lektor_fix_info
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding-left:2px;
	padding-right:2px;
	font-size: x-small
}

label.tempus_vertrag_info
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding-left:2px;
	padding-right:2px;
	font-size: x-small
}

label.tempus_lektor_verfuegbarezeit
{
	font-weight: bold;
	color: green;
}

label.kalenderwoche
{
	font-size: medium;
}
button
{
	font-size: x-small;
	min-width: 10px;
}
menubar,menupopup,toolbar,tabpanels,tabbox,iframe,box,hbox,vbox,tree,label,description
{
	border: 0px;
  	border-top: 0px;
  	border-bottom: 0px;
  	border-left: 0px;
  	border-right: 0px;
  	border-top-width: 0px;
  	border-bottom-width: 0px;
  	border-left-width: 0px;
  	border-right-width: 0px;
  	padding-top: 0px;
  	padding-bottom: 0px;
  	padding-left: 0px;
  	padding-right: 0px;
}
menupopup
{
	border: 1px solid black;
}
grid.lvaStundenplan
{
	font-size: x-small;
}
grid.lvaStundenplan button
{
	font-size: x-small;
	border: 0px;
  	border-top: 0px;
  	border-bottom: 0px;
  	border-left: 0px;
  	border-right: 0px;
  	border-top-width: 0px;
  	border-bottom-width: 0px;
  	border-left-width: 0px;
  	border-right-width: 0px;
  	padding-top: 0px;
  	padding-bottom: 0px;
  	padding-left: 0px;
  	padding-right: 0px;
}


tree treecol {
	background-color: #FFFFCC;
	border: 1px solid black;
}

tree {
	font-size:9pt;
	font-family:Arial;
}

box.studentDetail {
    -moz-binding: url('lehrveranstaltungbinding.xml.php#studentDetail');
}

label,textbox {
	font-size:9pt;
	font-family:Arial;
}

treechildren::-moz-tree-row(selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-row(odd) { background-color: #EEEEEE; }
treechildren::-moz-tree-row(odd, selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-row(even, selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-cell-text(selected) { color: #000000; }
treechildren::-moz-tree-cell-text(odd, selected) { color: #000000; }


/* Lehrveranstaltung */
treechildren::-moz-tree-row(lehrveranstaltung_lv)
{
	background-color: #FFFFFF;
}
treechildren::-moz-tree-row(lehrveranstaltung_lv, selected)
{
	background-color: #FFFFAA;
}

/* Modul */
treechildren::-moz-tree-row(lehrveranstaltung_modul)
{
	background-color: #EEEEEE;
}
treechildren::-moz-tree-row(lehrveranstaltung_modul, selected)
{
	background-color: #FFFFAA;
}

/* Lehrfach */
treechildren::-moz-tree-row(lehrveranstaltung_lf)
{

}
treechildren::-moz-tree-row(lehrveranstaltung_lf, selected)
{

}

/* Lehreinheit */
treechildren::-moz-tree-row(lehrveranstaltung_)
{
	background-color: #EDF5FF;
}
treechildren::-moz-tree-row(lehrveranstaltung_, selected)
{
	background-color: #FFFFAA;
}


treechildren::-moz-tree-checkbox
{
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect.  */
  list-style-image: url("../skin/images/round.png");
}

treechildren::-moz-tree-checkbox(checked)
{
  /* css for checked cells. cbox-check.gif isn't available in Firefox 1, 2, and 3 on Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere. */
  /*list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");*/
  list-style-image: url("../skin/images/cbox-check.gif");
}


toolbarbutton.stplweekoverlay-toolbarbutton
{
	-moz-appearance: none;
	border: 0px;
	margin:0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
toolbarbutton.stplweekoverlay-toolbarbutton > .toolbarbutton-text
{
	text-align: left;
}
toolbarbutton.stplweekoverlay-toolbarbutton:hover
{
	border: 1px outset black;
}

.stplweek_vbox:hover .stplweek_tagesinfo
{
	visibility:visible;
}

.stplweek_tagesinfo
{
	color: #AAAAAA;
	visibility:hidden;
	font-size: small;
	margin-bottom: 15px;
}

treechildren::-moz-tree-row(makeItred)
{
	background-color: #ff8989;
}
treechildren::-moz-tree-row(makeItgreen)
{
	background-color: #d8ffd8;
}
treechildren::-moz-tree-row(makeItyellow)
{
	background-color: #ffe6b5;
}
treechildren::-moz-tree-cell-text(Aktiv_Nein)
{
  color: grey;
}
treechildren::-moz-tree-cell-text(Aktiv_false)
{
  color: grey;
}
treechildren::-moz-tree-cell-text(bold)
{
	font-weight: bold;
}
treechildren::-moz-tree-cell(Lektor_inaktiv)
{
  color: grey;
  cursor: not-allowed;
}
treechildren::-moz-tree-cell-text(Lektor_inaktiv)
{
  color: grey;
  cursor: not-allowed;
}
treechildren::-moz-tree-row(makeItMarked)
{
	background-color: #ceffb0;
}

.timetablefilter-vertrag .toolbarbutton-icon {
   width: 25px;
   height:25px;
}

treechildren::-moz-tree-cell(stichtagsinaktiv)
{
	background-color: #e6e6e6;
}

treechildren::-moz-tree-cell(erstes_stichtagsinaktiv)
{
	background-color: #e6e6e6;
	border-top: 1px solid grey;
}

label.warning
{
	font-weight: bold;
}
