body
{
	background-color: #F6F7FF;
	font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
	font-size: small;
	/*IE hack*/
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: medium;	
	/*IE hack end*/
}

table.menue
{
	border-right-width:1px;
	border-right-color:#BCBCBC;"
	width:	100%;
}
table.liste
{  
	width:100%;
	font-size: 100%;
}
table.liste th
{  
	background-color: #D3DCE3;
}

tr.liste
{
	background-color: #D3DCE3;
}
tr.liste0
{
	background-color: #F3F3E9;
}
tr.liste1
{
	background-color: #EFEFDD;
}
td.button 
{
	color: #000000;
	border-top:	1px solid #FFFFFF;
	border-right: 1px solid	#706D41;
	border-bottom: 1px solid #706D41;
	border-left: 1px solid #FFFFFF;
	cursor:	pointer;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	padding-left: 6px;
	padding-right: 6px;
	text-align: center;
}

a.stpl_detail 
{ 
	font-size:smaller; 
	color:#000000;
	text-decoration:none;
}
a.stpl_detail:hover
{ 
	font-size:smaller;
	color:#000000; 
	text-decoration:underline;
	cursor:help;
}
a.linkgreen 
{ 
	font-size:smaller; 
	color:#008E74; 
	text-decoration:none;
}
a.linkblue 
{ 
	font-size:smaller; 
	color:#00A4D2;
	text-decoration:none;
}
a.linkblue:hover 
{ 
	font-size:smaller; 
	color:#00A4D2;
	text-decoration:underline;
	cursor:pointer;
}

a.h1:hover 
{ 
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
}
a
{ 
	color:#00A4D2;
	text-decoration:none;
}
a:hover 
{ 
	color:#00A4D2;
	text-decoration:underline;
	cursor:pointer;
}

a.hilfe 
{ 
	text-decoration:none;
}
a.hilfe:hover 
{ 
	text-decoration:none;
}
a.MenuItem1
{ 
	color:#008E74; 
	text-decoration:none;
}
a.MenuItem1:hover
{ 
	color:#008E74; 
	text-decoration:underline;
}

a.MenuItem2
{ 
	color:#00A4D2;
	text-decoration:none;
}
a.MenuItem2:hover
{ 
	color:#00A4D2;
	text-decoration:underline;
}

img
{
   border:0;
}

h1, h1 td
{
	font-size: 150%; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	font-variant: normal; 
	color: #ffffff; 
	background-color: 
	#009e84; 
	text-decoration: none;
}
h2 { font-size: 140%; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #ffffff; background-color: #00a4d2; text-decoration: none;}
h3 { font-size: 130%; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #008E74; cursor: pointer; text-decoration: none; }
h4 
{ 
	font-size: 120%; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	font-variant: normal; 
	text-transform: none; 
	color: #008E74; 
	cursor: pointer; 
	text-decoration: none; 
}

	
p.littleblack { font-size: x-small; color: #000000;}

.h1 { font-family: "Bookman Old Style"; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #ffffff; background-color: #009e84; text-decoration: none}
.h2 { font-family: "Bookman Old Style"; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #ffffff; background-color: #00a4d2; text-decoration: none}

table.stdplan TH
{
	background-color: #DDDDDD;
}

table.stdplan TD
{
	background-color: #EEEEEE
}

TR.liste
{
	background-color: #D3DCE3;
}
TR.liste0
{
	background-color: #CCCCCC;
}
TR.liste1
{
	background-color: #DDDDDD;
}


FONT.beschriftung
{
	color:#666666;
}
P.little
{
	font-size: xx-small;
}

h1 a
{
	color: #dddddd;
}
h1 a:hover
{
	color: #ffffff;
	text-decoration:none;
}

h2 
{ 
	color: #ffffff; 
	background-color: #00a4d2;
}
h2 td
{ 
	color: #ffffff; 
	background-color: #00a4d2;
}
h2 a
{
	color: #dddddd;
}
h2 a:hover
{
	color: #ffffff;
	text-decoration:none;
}

h3 
{ 
	font-size: smaller; 
	font-weight: bold; 
	color: #008E74; 
}

#bgcolor0
{
	background-color: #FF0000;
}
#bgcolor1
{
	background-color: #FF4444;
}
#bgcolor2
{
	background-color: #FF7777;
}
#bgcolor3
{
	background-color: #C0EEC0;
}
#bgcolor4
{
	background-color: #77FF77;
}
#bgcolor5
{
	background-color: #44FF44;
}
#bgcolor6
{
	background-color: #00FF00;
}

td
{
	margin:	4px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	padding: 0px;
	font-size: smaller; /*0.8em;*/
}

img { border: none; }

div.logo
{
	background-color: #CECF9C;
	margin:	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 1em; */
	border: none;
	border-bottom: 2px solid #000000;
	margin-bottom: 2px;
}

p.message 
{
	color: blue;
}

p.comment 
{
	font-style: italic;
}

h2
{
	color: #666633;
	font-size: medium; /*1.3em;*/
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	border: 2px solid #E6E6CC;
	background-color: #F3F3E9;
	padding: 2px 1em;
	margin: 0 0 1ex 0;
}

h3
{
	color: #666633;
	font-size: small;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
}

table.error
{
	background-color: #E6E6CC;
}

table.error td {
	background-color: #E6E6CC;
}

table.navbar
{
	background-color: #E6E6CC;
}

table.navbar td
{
	height:	25px;
	color: #000000;
	background-color: #F3F3E9;
	text-align: center;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em */
	font-weight: bold;
}

table.navbar td.active
{
	background-color: #E6E6CC;
}

th.data
{
	color: #000000;
	background-color: #E6E6CC;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /* 0.9em */
}

th.data a:active, th.data a:link, th.data a:visited, th.data a:hover 
{
	font-weight: bold;
}

.left
{
	text-align: left;
}

th.required
{
	text-decoration: underline;
}

td.topbar
{
	background-color: #CECF9C;
	margin:	0px	0px;
	padding: 0px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: smaller; /*0.8em;*/
	text-align: left;
}



.trail, .tab
{
	border: 2px solid #E6E6CC;
	background-color: #F3F3E9;
	padding: 2px 1em;
	vertical-align: bottom;
	cursor:pointer;
}

.trail, .topbar
{
	margin-bottom: 2px;
}

.trail td
{
	background-color: #F3F3E9;
	vertical-align: bottom;
}

.tabs
{
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 1ex 0;
	vertical-align: bottom;
}

.tab
{
	text-align: center;
	vertical-align: bottom;
}

.tabs .active
{
	background-color: #E6E6CC;
	vertical-align: bottom;
}

.topbar {
	border: 2px solid #CECF9C;
	padding: 2px 1em;
}

.topbar, .topbar td {
	background-color: #CECF9C;
}

.topbar .platform, .topbar .host, .topbar .username {
	font-weight: bold;
}

a:active 
{
	color: #989973;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: normal;
	text-decoration: underline;
}

a,a:link
{
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}

a:visited
{
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}

a:hover
{
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	text-decoration: none;
}

a.navlink:link, a.toplink:link
{
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}

a.navlink:visited, a.toplink:visited
{
	color: #336699;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}

a.navlink:hover, a.toplink:hover
{
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}

a.navlink:active, a.toplink:active
{
	color: #cc0000;
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-weight: bold;
	text-decoration: none;
}

.active a
{
	font-weight: bold;
}

a.help
{
	color: #E68800;
	font-size: smaller;
	vertical-align: super;
	text-decoration: none;
}

pre
{
	font-size: 110%;
}

pre.data
{
	font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: 100%;
}

.intro li
{
	font-weight: bold;
}

/* Syntax highlighting */
.comment {color: #008080}
.keyword {color: #FF8000}
.literal {color: #808080}

/* neu */
table.detail
{
    border-style:solid;
    border-color:#777777;
    border-width:1px;
    width:100%;
    padding:2px;
}

.kopf
{
    position:absolute;
    top:10px;
    left:10px;
    border-color:#777777;
    border-style:solid;
    border-width:1px;
    background-color:#eeeeee;
    padding:2px;
}

input, textarea, select
{
	border-width:1px;
	border-color:#999999;
	border-style:solid;
	padding:1px;
}

.input_error
{
	background-color:#FC988D;
}
.input_ok
{
	background-color:#ffffff;
}

.inserterror
{
	background-color:#FC988D;
	width:100%;
	text-align:center;
}

/* Sortable tables */
table.sortable thead 
{
    cursor:pointer;
}