:root{
    --news-widget-height: 1;
}

.widgets-news img
{
    max-width: 100%;
}

.fhc-news-menu-item {
    padding: 0.375rem;
    color: var(--fhc-cis-menu-lvl-1-color);
    min-height: 5%;
    max-height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #00649c;
    border: 1px solid #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Smooth transition */
}

.fhc-news-menu-item:hover {
    background-color: var(--fhc-cis-menu-lvl-1-bg-hover);
    border-color: #f1f1f1;
}

.fhc-news-menu-item:active {
    background-color: var(--fhc-cis-menu-lvl-1-color-hover);
    border-color: #f1f1f1;
}

.fhc-news-menu-item.selected {
    background-color: var(--fhc-cis-menu-lvl-1-bg-hover);
    border-right: 2px solid #fff;
    
}

.fhc-news-menu-item:focus {
    outline: none;
}

.fhc-news-menu-item-betreff
{
    width: 100%;
    text-align: center;
    max-height: 100%;
    height: 100%;
}

.fhc-news-menu-item-date {
    text-align: end;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.fhc-carousel .carousel-item {
    transition: transform 0.375s ease-in-out, opacity 0.75s ease-in-out;
}

.fhc-carousel .carousel-item-next,
.fhc-carousel .carousel-item-prev {
    transition: transform 0.44s ease-in-out, opacity 0.8s ease-in-out;
}

.fhc-carousel .carousel-item-start,
.fhc-carousel .carousel-item-end {
    transition: transform 0.44s ease-in-out, opacity 0.8s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show the buttons when the carousel is hovered */
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
    opacity: 1;
}
