:root{
    --fhc-news-widget-height: 1;
	--fhc-news-widget-bg: var(--fhc-primary);
	--fhc-news-widget-highlight-color: var(--fhc-primary-highlight);
	--fhc-news-widget-border: var(--fhc-border);
	--fhc-news-widget-border-highlight: var(--fhc-border-highlight);
	--fhc-news-widget-text-light: var(--fhc-light);
}



/* media query for sm sizes */
@media (min-width :576px) {
	.fhc-news-menu-item {
		/* padding: top right bottom left */
		padding:0.125em 0.125em 0.125em 0.125em !important;
		max-height:30px !important;
	}

	.fhc-news-menu-item-betreff p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		/* Number of lines to show */
		overflow: hidden;
	}
}
/* media query for md sizes */
@media (min-width :768px) {
	.fhc-news-menu-item {
		/* padding: top right bottom left */
		padding: 0.25em 0.25em 0.25em 0.25em !important;
		max-height: 50px !important;
	}

	.fhc-news-menu-item-betreff p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		/* Number of lines to show */
		overflow: hidden;
	}
}
/* media query for lg sizes */
@media (min-width :992px) {
	.fhc-news-menu-item {
		/* padding: top right bottom left */
		padding: 0.25em 0.25em 0.25em 0.25em !important;
		max-height: 75px !important;
	}

	.fhc-news-menu-item-betreff p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		/* Number of lines to show */
		overflow: hidden;
	}
}
/* media query for xl sizes */
@media (min-width :1200px) {
	.fhc-news-menu-item {
		/* padding: top right bottom left */
		padding: 1em 0.25em 0.25em 0.25em !important;
		height: 100px !important;
	}

	.fhc-news-menu-item-betreff p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		/* Number of lines to show */
		overflow: hidden;
	}
}

/* media query for xxl sizes */
@media (min-width :1400px) {
	.fhc-news-menu-item {
		/* padding: top right bottom left */
		padding: 1.2em 0.5em 0.5em 0.5em !important;
		height: 125px !important;
	}

	.fhc-news-menu-item-betreff p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		/* Number of lines to show */
		overflow: hidden;
	}
}

.widgets-news{
	padding: .5rem;
	overflow-y: auto;
}

.widgets-news img
{
    max-width: 100%;
}

.fhc-news-menu-item {
    padding: 0.375rem;
    color: var(--fhc-news-widget-text-light);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fhc-news-widget-bg);
    border: 1px solid var(--fhc-news-widget-border);
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Smooth transition */
}

.fhc-news-menu-item:hover {
    background-color: var(--fhc-news-widget-highlight-color);
    border-color: var(--fhc-news-widget-border-highlight);
}

.fhc-news-menu-item.selected {
    background-color: var(--fhc-news-widget-highlight-color);
    border: 2px solid var(--fhc-news-widget-border-highlight);
    
}

.fhc-news-menu-item:focus {
    outline: none;
}

.fhc-news-menu-item-betreff
{
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.fhc-news-menu-item-date {
    text-align: end;
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.fhc-carousel .carousel-item {
    transition: transform 0.375s ease-in-out, opacity 0.75s ease-in-out;
}

.fhc-carousel .carousel-item-next,
.fhc-carousel .carousel-item-prev {
    transition: transform 0.44s ease-in-out, opacity 0.8s ease-in-out;
}

.fhc-carousel .carousel-item-start,
.fhc-carousel .carousel-item-end {
    transition: transform 0.44s ease-in-out, opacity 0.8s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
	top: 0.5rem !important;
	bottom: auto !important;
	opacity: 1 !important;
}


.fhc-news-items-lg .row .news-truncate span{
	color: var(--fhc-primary);
	cursor: pointer;
}

.fhc-news-items-lg .row:hover .news-truncate span{
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}



.news-truncate {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* number of lines to show */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}

