/* threshold for full screen form */
@media (max-width:1075px) {
    #page-wrapper {
        margin-right: 0;
        margin-left: 0;
    }
}

#protocoltbl textarea {
    /* notiz field should stay in table */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#protocoltbl td:nth-child(1), .cellbg {
    background-color: #f5f5f5;
}

/* table date and time cell widths */
.timecellwidth {
    width: 20%;
}

.namecellwidth {
    width: 15%;
}

.datevalcellwidth {
    width: 10%;
}

#hrbottom {
    border-top: 2px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* timepicker */
.ui-timepicker-table td a {
    width: inherit;
    line-height: 1;
    text-align: center;
}
