.inline-inputfield {
    width: auto;
    display: inline;
}

.fa-edit {
    cursor: pointer;
    font-size: 1.2em;
}

.glyphicon-floppy-disk {
    cursor: pointer;
    font-size: 1.6em;
    top: 0.3em;
}
