.event {
	cursor: pointer;
}
.fhc-calendar-mode-week .all-day-events .fhc-calendar-base-grid-line-event .weekPageContainer {
	padding: .25rem;
}
.fhc-calendar-mode-day .fhc-calendar-base-grid-line-event,
.fhc-calendar-mode-week .fhc-calendar-base-grid-line-event {
	margin: 0 .5rem;
	font-size: var(--fhc-calendar-fontsize-event, .875rem);
}
.fhc-calendar-mode-day .all-day-events .fhc-calendar-base-grid-line-event,
.fhc-calendar-mode-week .all-day-events .fhc-calendar-base-grid-line-event {
	margin: .25rem;
}
/* Border */
.fhc-calendar-mode-day .grid-main .fhc-calendar-base-grid-line-event > *,
.fhc-calendar-mode-week .grid-main .fhc-calendar-base-grid-line-event > * {
	border: solid 1px var(--fhc-calendar-border-event);
}
.fhc-calendar-mode-day .fhc-calendar-base-grid-line-event {
	--event-radius: var(--fhc-calendar-radius-day-event, 0);
}
.fhc-calendar-mode-week .fhc-calendar-base-grid-line-event {
	--event-radius: var(--fhc-calendar-radius-week-event, 0);
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event {
	--event-radius: var(--fhc-calendar-radius-month-event, 0);
}
.fhc-calendar-mode-list .fhc-calendar-base-grid-line-event {
	--event-radius: var(--fhc-calendar-radius-list-event, 0);
}
.fhc-calendar-mode-day .all-day-events .fhc-calendar-base-grid-line-event > *,
.fhc-calendar-mode-week .all-day-events .fhc-calendar-base-grid-line-event > *,
.fhc-calendar-mode-day .fhc-calendar-base-grid-line-event.event-begin > *,
.fhc-calendar-mode-week .fhc-calendar-base-grid-line-event.event-begin > * {
	border-top-left-radius: var(--event-radius);
	border-top-right-radius: var(--event-radius);
}
.fhc-calendar-mode-day .all-day-events .fhc-calendar-base-grid-line-event > *,
.fhc-calendar-mode-week .all-day-events .fhc-calendar-base-grid-line-event > *,
.fhc-calendar-mode-day .fhc-calendar-base-grid-line-event.event-end > *,
.fhc-calendar-mode-week .fhc-calendar-base-grid-line-event.event-end > * {
	border-bottom-left-radius: var(--event-radius);
	border-bottom-right-radius: var(--event-radius);
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event.event-begin > * {
	border-top-left-radius: var(--event-radius);
	border-bottom-left-radius: var(--event-radius);
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event.event-end > * {
	border-top-right-radius: var(--event-radius);
	border-bottom-right-radius: var(--event-radius);
}
/* Colors */
.fhc-calendar-base-grid-line-event {
	--event-default-bg: var(--fhc-calendar-bg-event, #ccc);
}
.fhc-calendar-base-grid-line-event .event-type-reservierung {
	--event-default-bg: var(--fhc-calendar-bg-reservierung, #fff);
}
.fhc-calendar-base .event > * {
	background-color: var(--event-bg, var(--event-default-bg));
}
.fhc-calendar-base .event > *:hover {
	filter: brightness(120%);
}
