/* Labels */
/* ====== */
.fhc-calendar-base-label-dow .short,
.fhc-calendar-base-label-dow .narrow,
.fhc-calendar-base-label-day .full,
.fhc-calendar-base-label-day .short,
.fhc-calendar-base-label-day .narrow,
.fhc-calendar-mode-month .fhc-calendar-base-label-day .long,
.collapsed-header .fhc-calendar-base-label-day .long,
.collapsed-header .fhc-calendar-base-label-dow .long {
	display: none;
}
.fhc-calendar-mode-month .fhc-calendar-base-label-day .narrow,
.collapsed-header .fhc-calendar-base-label-day .short,
.collapsed-header .fhc-calendar-base-label-dow .short {
	display: block;
}
.fhc-calendar-mode-day .fhc-calendar-base-label-day,
.fhc-calendar-mode-week .fhc-calendar-base-label-day {
	font-size: .875em;
}
.fhc-calendar-mode-day .main-header,
.fhc-calendar-mode-week .main-header {
	text-align: center;
}
.fhc-calendar-mode-month .fhc-calendar-base-label-week {
	text-align: right;
}
.fhc-calendar-base-label-week {
	margin-left: .5rem;
}
.fhc-calendar-base-label-time,
.fhc-calendar-base-label-day,
.fhc-calendar-base-label-week {
	color: var(--bs-secondary-color);
}
.fhc-calendar-mode-day .fhc-calendar-base-label-dow,
.fhc-calendar-mode-week .fhc-calendar-base-label-dow,
.fhc-calendar-base-label-day,
.fhc-calendar-base-label-week {
	cursor: pointer;
}
.fhc-calendar-base-label-week span + span:before {
	content: "/";
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event.event-header {
	--event-bg: transparent;
	font-weight: bold;
	text-indent: 0;
	font-size: var(--fhc-calendar-fontsize-month-day, 1rem);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event.event-header .disabled {
	opacity: .3;
}


/* Base Grid */
/* ========= */
/* Grid */
.fhc-calendar-base-grid {
	--fhc-calendar-axis-collapsible: .2fr;
	background-color: var(--fhc-calendar-gap);
	grid-gap: 2px;
}
.fhc-calendar-base-grid .grid-header {
	background-color: var(--fhc-calendar-gap-header);
}
.fhc-calendar-base-grid .grid-header:before,
.fhc-calendar-base-grid .grid-allday:before {
	content: "";
}
.fhc-calendar-base-grid .grid-header:before,
.fhc-calendar-base-grid .grid-header .main-header {
	background-color: var(--fhc-calendar-bg-header);
}
.fhc-calendar-base-grid .grid-allday {
	background-color: var(--fhc-calendar-gap-allday);
}
.fhc-calendar-base-grid .grid-allday:before,
.fhc-calendar-base-grid .grid-allday .all-day-events {
	background-color: var(--fhc-calendar-bg-allday);
}
.fhc-calendar-base-grid .grid-main {
	grid-gap: 1px;
	background-color: var(--fhc-calendar-gap-body);
}
.fhc-calendar-base-grid .grid-main .part-header,
.fhc-calendar-base-grid .grid-main .part-body {
	background-color: var(--fhc-calendar-bg-body);
}
.fhc-calendar-base-grid-line {
	grid-gap: 1px;
}
.fhc-calendar-base-label-time {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}
/* Header */
.fhc-calendar-base-header > .row {
	align-items: center;
}

/* Modes */
/* ===== */
/* Day */
.fhc-calendar-mode-day .event-details {
	padding: 1.5rem;
	width: 100%;
	border-left: solid 1px var(--fhc-calendar-gap);
}
/* Month */
.fhc-calendar-mode-month .fhc-calendar-base-grid-line {
	overflow: hidden;
	line-height: 1.5;
	grid-template-rows: 2em;
	grid-auto-rows: calc(var(--fhc-calendar-fontsize-event, .875rem) + 2 * var(--fhc-calendar-margin-event-icon, .5rem));
	font-size: var(--fhc-calendar-fontsize-event, .875rem);
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event {
	text-indent: .5em;
	height: calc(var(--fhc-calendar-fontsize-event, .875rem) + 2 * var(--fhc-calendar-margin-event-icon, .5rem));
	overflow: hidden;
}
.fhc-calendar-mode-month .fhc-calendar-base-grid-line-event * {
	max-height: 100%;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Overlays */
/* ======== */
/* No Events */
.fhc-calendar-no-events-overlay {
	background: linear-gradient(120deg, var(--fhc-calendar-bg-overlay1), var(--fhc-calendar-bg-overlay2));
	opacity: .7;
	text-align: center;
	padding-top: 100px;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.2;
}
