/* styles for infocenter details page */

/* styles for right header of the zgv boxes, which includes infos and priorisierung for each prestudent.*/
.zgvheaderbeforeprio{
    margin-right: 2px;
}

.zgvheaderrightprio{
    position: relative;
    margin-right: 8px;
}

.zgvheaderrightprio button.prio{
    position: absolute;
    font-size: 19px;
    height: 13px;
    width: 18px;
    padding: 0 4px;
}

.zgvheaderrightprio button.prioalone{
    top: 25%;
}

.zgvheaderrightprio button.priotogetherup{
    bottom: 50%;
}

.zgvheaderrightprio button.priotogetherdown{
    top: 55%;
}

.zgvheaderrightprio button.prio .prioarrow{
    position: absolute;
    top: -4px;
    right: 2px;
    left: 2px;
}

.ausbildungssemselect{
   width: 40px !important;
   margin-top: -5px;
   padding: 4px;
}

#igrfrgbtn{
    margin-left: 30px;
}

#scrollToTop{
    display: none;
    position: fixed;
    bottom: 1%;
    right: 0.3%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dfdfdf;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

#scrollToTop:hover{
    background-color: lightgrey;
}

#postponedate{
    height: 25px;
    width: 99px
}

#postponedatelabel{
    font-weight: normal;
}

.nachreichungInfos
{
    float: right;
    margin: 5px 15px 0 0;
}

.nachreichungInputs .row
{
    margin-top: 5px;
}

@media screen and (max-width: 1510px)
{
    #postponing{
        text-align: center;
    }
    #postponedatelabel{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px)
{
    #postponedate {
        display: inline-block
    }
}
